@model IEnumerable<FriendlyBills.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submitter.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonetaryAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NonMonetaryAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryTimestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalTimestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Group.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submitter.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonetaryAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NonMonetaryAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryTimestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalTimestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
